.team{

justify-content: center;
align-items: center;
height:500px;







}
.b{

background-image: url("https://i.postimg.cc/gkccppPk/90507-Misty-Ridge-Fire-106-A.jpg");
height: 100vh;
}
.button1{
    width:10%;
    height: 30px;
}
.icon{
    margin-left: -5px;
    margin-top: -5px;
}