.team{

justify-content: center;
align-items: center;
height:500px;







}
.b{

height: 100vh;
}
.button1{
    width:30%;
    height: 40px;
    background-color: orangered;
}
.icon{
    margin-left: -5px;
    margin-top: -5px;
}
.teamcreation1{
    margin-top: -100px;
    margin-left: 500px;
}