.listing{
    
    justify-content: center;
    align-items: center;
    display: flex;
}
.f1{

    background-image: url("https://i.postimg.cc/sXmDkdsm/Fire-safety-training-for-employees.jpg");
    height: 200vh;
    background-size: cover;
    
    }
    .p{
        margin-left: 100px;
    }
    .highlighted-header {
        color:red;
        background-color: white;
        width: 50%;
     justify-content: center;
     margin-left: 360px;
      }
      