.vehicle{
   

   text-align: center;
        display: flex;
        width: 30%;
        margin-left: 100px;
        margin-top: 50px;
border: 2px orange solid;
        margin-bottom: px;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
        transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
      

}
.vehicle2{
background-color: beige;
height: 100vh;
    
}