.b1{
 margin-top: 200px;
}
.b2{
    margin-top: -100px;
}
.b3{
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: italic;
   
}
.b4{
    margin-left: 50px;
}
.b5{
    margin-bottom: 100px;
    margin-left: 70px;
}
.butt5{
    margin-bottom: -90px;
    margin-left: 300px;
}