.n1{
color:#FFAE42;

}
.n2{
    color: black;
}
.aj{
    justify-content: center;
    align-items: center;
    
}
.j1
{
    color: black;
}
.curved-shadow {
    border-radius: 20px; /* Adjust the value to change the curvature */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  height: 58vh;
  /* margin-top: 100px; */
}
.h1{
    border: 4px red solid;
}
